@(loginStatus: Boolean)(username: String)

<!DOCTYPE html>
<html>
<head>
	<title>Resumate</title>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/homepage.css")">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/freelancer.css")">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/font-awesome/css/font-awesome.min.css")">
</head>
<body>
	<div id="header">
		<a href="/"><img src="@routes.Assets.versioned("images/logo.png")" class="logo" alt="Resumate"></a>
		<ul>
			<li id="Discover"><a class="headerlink" href="/jobcategory">Discover</a></li>
			<li id="Create"><a class="headerlink" href="/genRes">Create</a></li>
			<li id="About"><a class="headerlink" href="#about">About</a></li>
			@if(!loginStatus) {
				<li id="Login"><a class="headerlink" href="/login">Login</a></li>
				<li id="Registration"><a class="headerlink" href="/registration">Registration</a></li>
			} else {
				<li id="Username"><a class="headerlink" href="/">@username</a></li>
				<li id="Logoff"><a class="headerlink" href="/off">Log Off</a></li>
			}
		</ul>
	</div>
	
	<!--	<div id="body">
		<div class="upperbody">
			<h3 class="Intro">Introducing</h3>
			<h1 class="Brand">ResuMate</h1>
			<h3 class="Guide">Start Your First Step into Professional World with the Help of Professional World</h3>
			<h3 class="Button">Get Started</h3>
		</div>
		<div class="lowerbody">
			<h3 class="About">Project for Advanced Software Engineering (W4156)</h3>
			<h3 class="NextAbout">Chen Yu (cy2415), Luis Alberto Ramirez (lar2195), Dongren You (dy2284), Ramses Driskell (rd2491)</h3>
		</div>
	</div>
	-->
	<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="@routes.Assets.versioned("images/brightness.png")" alt="">
                    <div class="intro-text">
                        <span class="name">ResuMate</span>
                        <hr class="star-light">
                        <span class="skills">Your Best Resume Assistant</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
	
	<div class="footer">
	<section id="about">
	<footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>COMPANY</h3>
                        <p>Founded in Dec. 2015 and based in New York City, ResuMate is designed to help users customize their own resume.</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://github.com/michaelawyu/WorldKing" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                            
                            <li>
                                <a href="https://twitter.com/YouDongren" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>WHAT WE DO</h3>
                        <p>It features both resume generator and resume sharing, and will be your best resume assistant.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; ResuMate 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>    
</section>
</div>
</body>
</html>