<!DOCTYPE html>
<html>
<head>
	<title>Resumate</title>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/homepage.css")">
</head>
<body>
	<div id="header">
		<img src="@routes.Assets.versioned("images/logo.png")" class="logo" alt="Resumate">
		<ul>
			<li id="Discover"><a class="headerlink" href="/jobcategory">Discover</a></li>
			<li id="Create"><a class="headerlink" href="/genRes">Create</a></li>
			<li id="About"><a class="headerlink" href="/about">About</a></li>
			<li id="Login"><a class="headerlink" href="/login">Login</a></li>
			<li id="Registration"><a class="headerlink" href="/registration">Registration</a></li>
		</ul>
	</div>
		<div id="body">
		<div class="upperbody">
			<h3 class="Intro">Introducing</h3>
			<h1 class="Brand">ResuMate</h1>
			<h3 class="Guide">Start Your First Step into Professional World with the Help of Professional World</h3>
			<h3 class="Button">Get Started</h3>
		</div>
		<div class="lowerbody">
			<h3 class="About">Project for Advanced Software Engineering (W4156)</h3>
			<h3 class="NextAbout">Chen Yu (cy2415), Luis Alberto Ramirez (lar2195), Dongren You (dy2284), Ramses Driskell (rd2491)</h3>
		</div>


	</div>
</body>
</html>