@(loginStatus: Boolean)(username: String)(ListA: List[JobCategory])(ListB: List[JobCategory])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resumate: Job Category</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/jobcategory.css")">
</head>
<body>
    <div id="header">
        <a href="/"><img src="@routes.Assets.versioned("images/logo.png")" class="logo" alt="Resumate"></a>
        <ul>
            <li id="Discover"><a class="headerlink" href="/jobcategory">Discover</a></li>
            <li id="Create"><a class="headerlink" href="/genRes">Create</a></li>
            <!--<li id="About"><a class="headerlink" href="/about">About</a></li>-->
            @if(!loginStatus) {
            <li id="Login"><a class="headerlink" href="/login">Login</a></li>
            <li id="Registration"><a class="headerlink" href="/registration">Registration</a></li>
            } else {
            <li id="Username"><a class="headerlink" href="/">@username</a></li>
            <li id="Logoff"><a class="headerlink" href="/off">Log Off</a></li>
            }
        </ul>
    </div>
    <div id="theme">
        <div id="content">
            <div id="pics">
                <img id="roboticon" src="@routes.Assets.versioned("images/roboticon.png")"/>
                <img id="guitaricon" src="@routes.Assets.versioned("images/guitaricon.png")"/>
                <img id="cameraicon" src="@routes.Assets.versioned("images/cameraicon.png")"/>
            </div>
            <div id="text">
                <div id="title">
                    <p>Pick A Job Category to Start</p>
                </div>
                <div id="description">
                    <p>Different fields have different expectations for job seekers. Their idea of perfect resume also varies accordingly. Start with any category you are interested in below and see how the professionals tailor their resumes to the fittest.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="ST">
        <div id="labelTechnology">
            <p id="labelTechnology">Science and Technology</p>
        </div>
        <div id="content">
            <div id="categoryListA">
                @for(p <- ListA) {
                    <div id="categoryItemA">
                        <img id="categoryIcon" src=@p.iconLocation />
                        <form action="/resumelist" method="POST">
                            <button id="button">@p.jobCategoryName</button>
                            <input type="hidden" name="checked" value="@p.jobCategoryID">
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>

    </div>
    <div id="Art">
        <div id="labelArt">
            <p id="labelArt">Art and Design</p>
        </div>
        <div id="content">
            <div dir="rtl" id="categoryListB">
                @for(p<-ListB){
                    <div id="categoryItemB">
                        <img id="categoryIcon" src=@p.iconLocation />
                        <form action="/resumelist" method="POST">
                            <button id="button">@p.jobCategoryName</button>
                            <input type="hidden" name="checked" value="@p.jobCategoryID">
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>


</body>
</html>