@(message: String)
<!DOCTYPE html>
<html>
<head>
	<title>Resumate</title>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/login.css")">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/freelancer.css")">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/font-awesome/css/font-awesome.min.css")">
</head>
<body>
	<div id="header">
		<a href="/"><img src="@routes.Assets.versioned("images/logo.png")" class="logo" alt="Resumate"></a>
		<ul>
			<li id="Discover"><a class="headerlink" href="/jobcategory">Discover</a></li>
			<li id="Create"><a class="headerlink" href="/genRes">Create</a></li>
			<!--<li id="About"><a class="headerlink" href="/about">About</a></li>-->
		</ul>
	</div>
	
	<!--	<div id="body">
		<div class="upperbody">
			<form action="\login" method="POST">
				<input type="email" id="email" name="email" maxlength="30" value="Email Address" required="required"/>
				<input type="password" id="password" name="password" maxlength="20" value="Password" required="required"/>
				<input type="submit" id="submit" value="Login"/>
			</form>
			<h3 id="message">@message</h3>
		</div>
		<div class="lowerbody">
			<h3 class="About">Project for Advanced Software Engineering (W4156)</h3>
			<h3 class="NextAbout">Chen Yu (cy2415), Luis Alberto Ramirez (lar2195), Dongren You (dy2284), Ramses Driskell (rd2491)</h3>
		</div>
    -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Login</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form action="\login" method="POST">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email Address" required data-validation-required-message="Please enter your email address." required="required"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="Password" name="password" id="password" required data-validation-required-message="Please enter your phone number." required="required"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg" id="submit" value="Login"/>Submit</button>
                            </div>
                        </div>
                    </form>
                    <h3 id="message">@message</h3>
                </div>
            </div>
        </div>
    </section>
	</div>
	
	<script>
 
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);
     
      if (response.status === 'connected') {
    	  document.getElementById('click').disabled=false;
        // Logged into your app and Facebook.
        CheckUser();
      } else if (response.status === 'not_authorized') {
        // The person is logged into Facebook, but not your app.
        document.getElementById('click').disabled=true;
        document.getElementById('status').innerHTML = 'Please log ' +
          'into this app.';
      } else {
        // The person is not logged into Facebook, so we're not sure if
        // they are logged into this app or not.
        document.getElementById('click').disabled=true;
        document.getElementById('status').innerHTML = 'Please log ' +
          'into Facebook.';
      }
    }

    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
        
      });
    }

    window.fbAsyncInit = function() {
    FB.init({
      appId      : '445566152294840',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.5' // use version 2.2
    });

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
    };

    // Load the SDK asynchronously
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'x-jssdk'));
    
    function CheckUser() {
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me', function(response) {
        console.log('Successful login for: ' + response.name);
        console.log(response);
        var request = new XMLHttpRequest();
        request.onload = reqListener;
        request.open("POST", "Registration", true);
        var obj = new Object();
        obj.id = response.id;
        obj.first_name = response.first_name;
        obj.last_name = response.last_name;
        obj.email = response.email;
        obj.accessToken = accessToken;
        var jsonString= JSON.stringify(obj);
        console.log(jsonString);
        request.send(jsonString);
      });
    }
    </script>              
    

</body>
</html>