

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resumate: Job Category</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/viewresume.css")">
</head>
<body>
    <div id="header">
        <img src="@routes.Assets.versioned("images/logo.png")" class="logo" alt="Resumate">
        <ul>
            <li id="Discover"><a class="headerlink" href="/jobcategory">Discover</a></li>
            <li id="Create"><a class="headerlink" href="/genRes">Create</a></li>
            <li id="About"><a class="headerlink" href="/about">About</a></li>
        </ul>
    </div>
    <div id="body">
        <iframe id="PDF" style="border:1px solid #666CCC" title="PDF" src="/assets/resume/Resume.pdf" frameborder="1" scrolling="auto" height="1100" width="850" ></iframe>
    </div>
</body>
</html>