 body {
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left top;
	background-size: 100%;
}
div#header{
	background-color: #2C3E50;
	padding: 10px;
	width: 100%;
	height: 65px;
	margin: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
}

a.headerlink:link{
	text-decoration: none;
	color: white;
}
a.headerlink:visited{
	text-decoration: none;
	color: white;
}
li{
	font-family: "PingFang SC", Helvetica;
	font-size: 18px;
}
li#Discover{
	display: inline;
	padding: 5px;
	position: fixed;
	top: 15px;
	left: 140px;
}
li#Create{
	display: inline;
	padding: 5px;
	position: fixed;
	top: 15px;
	left: 270px;
}
li#About{
	display: inline;
	padding: 5px;
	position: fixed;
	top: 15px;
	left: 387px;
}
img.logo{
	width: 46px;
	height: 54px;
	float: left;
	position: fixed;
	top: 5px;
	left: 36px;
}
div.upperbody{
	width: 900px;
	height: 400px;
	position: absolute;
	top: 40%;
	left: 52%;
	margin-top: -200px;
	margin-left: -450px;
	padding: 0px;
}
div.lowerbody{
	width: 900px;
	height: 100px;
	position: absolute;
	top: 92%;
	left: 52%;
	margin-top: -50px;
	margin-left: -450px;

}

div.bodyright{
    top: 3%;
    position: absolute;
    left: auto;
    right: 0;
	z-index: 50;
	width: 100px;
	height: 100px;

h3.About{
	font-family: "PingFang SC", Helvetica;
	position: absolute;
	color: white;
	top: 20px;
	left: 250px;
	font-size: 14px;
}
h3.NextAbout{
	font-family: "PingFang SC", Helvetica;
	position: absolute;
	color: white;
	top: 38px;
	left: 115px;
	font-size: 14px;
}

h3#message{
	font-family: "PingFang SC", Helvetica;
	color: white;
	position: absolute;
    top:88%;
    left: 24%;
    color:white;
    font-size: 18px;
	text-shadow: 1px 1px 3px #666666;
}
input#submit{
	font-family: "PingFang SC", Helvetica;
	position: absolute;
	color: white;
	top: 80%;
	left: 44%;
	width: 106px;
	height: 40px;
	border-width: 1px;
	border-style: solid;
	padding: 2px;
	border-radius: 10px;
	background-color: #29A329;
	text-shadow: 1px 1px 3px #666666;
	margin-top: -13.5px;
	margin-left: -53px;
	font-size: 16px;
}
input#email{
	width: 280px;
	height: 35px;
	position: absolute;
	top: 50%;
	left: 43%;
	margin-top: -17.5px;
	margin-left: -140px;
	border-width: 1px;
	border-radius: 4px;
}
input#password{
	width: 280px;
	height: 35px;
	position: absolute;
	top: 60%;
	left: 43%;
	margin-top: -17.5px;
	margin-left: -140px;
	border-width: 1px;
	border-radius: 4px;
}












